<html>

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
 <link href="./static/styles.css?{{ res.time }}" rel="stylesheet" type="text/css">
 <script type="text/javascript" src="./static/jquery.js"></script>
 <script type="text/javascript" src="./static/util.js?{{ res.time }}"></script>
 <style type="text/css">
{% block styles %} {% endblock %}
 </style>
 <title> {% block title %} untitled. {% endblock %} - reader </title>
</head>

<body>

<form id="refresh" method="post">

<div id="side">
 <header>
  <h1>reader</h1>
  <div id="menu">
   <a href="./settings"><img src="./static/icon-settings.png" /></a>
   <input type="submit" value="refresh" />
   <input type="image" onclick="javascript:location.reload(); return false;" src="./static/icon-refresh.png" />
   <a href="javascript:$('#search').toggle();$('#search input').focus();"><img src="./static/icon-search.png" /></a>
  </div>
 </header>

{% block side %} {% endblock %}
</div>

<div id="main">
{% block main %} {% endblock %}
</div>

</form>

<br class="clear" />

<form id="search">
 <a class="showsearch">search</a>
 <input type="text" name="q" />
</form>

</body>

</html>
